html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    flex: 1;
    text-align: center;
}

footer {
    background-color: #d6d6d6;
    text-align: center;
}

.icon-container {
    position: absolute;
    top: 100px;  /* Adjust as needed */
    justify-content: center;  /* Adjust as needed */
    display: flex;
    gap: 20px;  /* Adjust as needed */
    width: 100%;
}

.email-icon:hover img {
    content: url("email_icon_02.jpg");
}
