html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;  /* Add this line */
}

.header {
    text-align: center;
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 200px; /* Adjust as needed */
    width: 200px; /* Adjust as needed */
}

.icon-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    /* Remove margin: auto; */
}

footer {
    background-color: #d6d6d6;
    text-align: center;
    margin-top: auto;
}

.email-icon:hover img {
    content: url("/logos/email_icon_02.jpg");
}