html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  /* Centers children vertically */
}

.header {
    text-align: center;
}

.icon-container {
    display: flex;
    justify-content: center;
    gap: 20px;  /* Adjust as needed */
    width: 100%;
    margin: auto;
}



footer {
    background-color: #d6d6d6;
    text-align: center;
    margin-top: auto;
}


.email-icon:hover img {
    content: url("email_icon_02.jpg");
}
